body{
    font-family: 'Bona Nova', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Loop', cursive;
    margin: 0;
}
#intro{
    font-size: 70px;
}
p{
    font-size: 30px;
}
#first{
    font-size: 50px;
}
.sen{
    color:orange;
}
.flex{
    display: flex;
    padding-bottom: 150px;
}
.half-widht{
  width: 50%;
  padding-left:70px; 
}
.half-widht img {
    width: 400px;
    padding-top: 15%;
    padding-left:20%;
}
.link-button{
    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient( orangered, yellow);
    font-weight: 600;
    color:whitesmoke;
    padding: 10px 40px;
    border-radius: 10px; 
}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
}
.half-widht-one{
    width: 50%;
    margin-left: 16%;
    
   
}
.link-button-big{    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient( rgb(185, 43, 131), rgb(204, 60, 8)) ;
    font-weight: 600;
    color:whitesmoke;
    padding: 10px 30px;
    border-radius: 10px; 
}
.big-dream{
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-bottom: 130px;
}
.my-second{
    width: auto;
    padding-top: 65px ; 
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
.item{
    width: 50%;
    padding-left:40px;
    box-shadow:10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}
.experience-flex{
    background-image: url(pictures/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-image: linear-gradient(blue, cyan);
    border-left: 10px solid;
    border-image-slice: 1;
}
#suck-dev{
    border-image: linear-gradient(orange, rgb(199, 199, 64));
    border-left: 10px solid;
    border-image-slice: 1;
}
footer p {
    text-align: center;
}